.idea
**/*.pyc
.cproject
.autotools
.depend
.project
.pydevproject
.settings
.tags
.tags1
.vscode
build
Debug
data
Cargo.lock
tags
target
.spyderproject
Accurity/accurity
Accurity/infer
Accurity/recall_precision
Accurity/GADA
